@import url ('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --green: rgb(128, 255, 0);
    --black: rgba(53, 32, 32, 0.468);
    --light-color:  rgb(55, 107, 4);
    --box-shadow: 1rem 0.5rem rgba(0,0,0.1);
    --border: 1.5rem solid rgba(0,0,0.1);
    --outline: 5px solid black;

}

*

{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size:medium;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

}

body{
    background: #eee;

}

.header{
    border: 0px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:2rem ;
    background: #fff;
    box-shadow: var(--box-shadow);

}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light-color);
}

#logo i{
    color:  rgba(251, 71, 170, 0.993);
}

.navbar{
    border: .5px solid
    font-size: medium;
    margin: 2px;
    color: var(--black);

}

.navbar a:hover{
    color: var(--green);
}

.mcs  div{
    border: .2px solid var(--light-color);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 40%;
    line-height: 1.5rem;
    color: #fff;
    font-size:1.2rem;
    background: black;
    text-align: center;
    margin-right: 1px ;
    cursor: pointer;
}

.mcs div:hover{
    background: var(--light-color);
}

#mnbtn{
    display: none;
}

.searchbar{
    border: 1px solid bisque;
    position: absolute;
    top: 110%;
    right: -110%;
    border-radius: 2rem;
    height: 40px;
    width: 25rem;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-self: center;
    box-shadow: rgb(106, 105, 105);
    text-align: right;
}


#search-bar input{
    height: 100%;
    width: 100%;
    background: #fff;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.search-bar label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.search-bar label:hover{
    color: var(--green)

}

.login form{
    border: 1px;
    position: absolute;
    top: 110%;
    right: 2rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: 1rem;
    background: #fff;


}


















@media (max-width: 911px)
{
    html{
        font: :55%;
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-padding-top: 7rem;
    }
}
@media (max-width: 450px)
{
    html{
        font: :55%;
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-padding-top: 7rem;
    }
}

