.header{
    border: 5px dotted rgba(199, 247, 128, 0.986);
    background-color: rgba(146, 227, 23, 0.632);
    height: 80px;
    width: 100%;

}

.search{
    height:max-content
}
.searchbar{
    border: 1px dotted rgba(251, 71, 170, 0.591);
    height: 48px;
    width: 79%;
    float: right;
 
}

.category{
    border: 2px double pink;
    height:1400px;
    width:20%;
    float:left;
}

.productdisplay{
    height: max-content;
}
.slider{
    border: 2px solid rgba(141, 252, 5, 0.808);
    height: 200px;
    width: 79%;
    float: right;

}

.deals{
    border: 2px dashed rgb(195, 249, 2);
    height: 150px;
    width:79%;
    float: right;
}

.productcontainers{
    border: 3px solid lightcoral;
    height: 700px;
    width:79%;
    float: right;

}

.featured{
    border: 4px solid wheat;
    height: 139px;
    width:79%;
    float: right;
}

.trending{
    border: 4px solid orchid;
    height: 139px;
    width:79%;
    float: right;
}

.footer{
    border: 3px solid rgba(251, 71, 170, 0.591);
    background-color: rgba(251, 71, 170, 0.591);
    height: 100px;
    width:100%;
    float: right;
}