*
body{
    background: whitesmoke;
    margin: auto;
}

/* HEADER */
header{
    border: 2px dotted yellowgreen;
    background-color:rgba(153, 205, 50, 0.553);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: rgb(206, 80, 34);
    height: 80px;
    width: 100%;
    z-index: 1;
    }
    
.logo{
    height:33px;
    border-radius: 50%;
    float: left;
}
#logo{
    margin-left: 5px;
    float:left;
}

/*NAVIGATION*/
#nav{
    font-size: 30px;
    color:brown;
    float:right;
    margin-right: 20px;
    margin-top: 20px;
}
.navbar{
    
    
}

/*search by category*/
.searchbycategory{
    border: 2px dashed rosybrown;
    background-color: rosybrown;
    height: 457px;
    width: 20.3%;
    float: left;
    z-index: 1;
}

/*SEARCH BAR*/
.searchbar{
    border: 2px solid indianred;
    background-color: indianred;
    width: 79%;
    height:45px;
    float:right;
}

/*PRODUCT SEARCH*/
#searchproduct{
    border: 2px solid indianred;
    height: 80%;
    width: 90%;
    margin-left: 5%;
    margin-top: 2px;
    align-items: center;
    z-index: 1;
}

/*SLIDER*/
.slidingbanner{
    border: 2px solid rgba(78, 82, 79, 0.696);
    background-image: url('image/banner-img.jpg');
    width: 79%;
    height: 250px;
    float: right;
    background-size: 100% 250px;
    z-index: 1;
}

/*PRODUCT LISTING*/
.productslist{
    border: 2px solid rgb(8, 128, 184);
    background-color: whitesmoke;
    width: 79%;
    height: 310px;
    float: right;
    z-index: 1;
}

/*DEALS*/
.deals{
    border: 2px groove blueviolet ;
    background-image: url('slider\ banner\ 1\ \(1\).webp');
    background-size: 100% 200px;
    height: 200px;
    width: 100%;
    float: left;
    z-index: 1;
}
.deal1{
    border: 2px groove blueviolet ;
    background-image: url('slider\ banner\ 1\ \(1\).webp');
    background-size: 100% 200px;
    height: 200px;
    width: 100%;
    float: left;
}
.deal2{
    border: 2px groove blueviolet ;
    background-image: url('slider\ banner\ 1\ \(2\).webp');
    background-size: 100% 200px;
    height: 200px;
    width: 100%;
    float: left;
}

/*FOOTER*/
.footer{
    border: 2px double red;
    background: red;
    height: 100px;
    width: 100%;
    float: left;
    z-index: 1;
}