*
body{
    background: #fff;
    margin: auto;
}

/* HEADER */
header{
    border: 2px dotted #6e8658;
    background-color:#6e8658;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: #efe9e1;
    height: 80px;
    width: 100%;
    z-index: 1;
}
    
.logo{
    height:33px;
    border-radius: 50%;
    float: left;
    margin-right: 2px;
}

#logo{
    margin-left: 5px;
    float:left;
}

/*NAVIGATION*/
#nav a{
    font-size: 30px;
    color: #efe9e1;
    float:right;
    margin-right: 5px;
    margin-top: 20px;
    justify-content: space-between;
    padding: 2px 1%;
}
.navbar{
   
}

/*search by category*/
.searchbycategory{
    border: 2px double #efe9e1;
    background-color: #fff;
    height: 457px;
    width: 20.3%;
    float: left;
    margin-top: 2px;
    z-index: 1;
}

/*SEARCH BAR*/
.searchbar{
    border: 2px solid #57473a;
    background-color: #57473a;
    width: 79%;
    height:50px;
    float: right;
}

/*PRODUCT SEARCH*/
#searchproduct{
    border: 2px solid #57473a;
    height: 80%;
    width: 90%;
    margin-left: 5%;
    margin-top: 2px;
    align-items: center;
    z-index: 1;
}

/*SLIDER*/
.slidingbanner{
    border: 2px solid #d0d5ce;
    background-image: url('image/banner-img.jpg');
    width: 79%;
    height: 250px;
    float: right;
    background-size: 100% 250px;
    z-index: 1;
}

/*PRODUCT LISTING*/
.productslist{
    border: 1px ;
    /*background-color: whitesmoke;*/
    width: 79%;
    height:auto;
    float: left;
    z-index: 1;
}

.container{
    border: 1px double rgba(101, 228, 101, 0.605);
    border-radius: 5%;
    background-color: white;
    height: 250px;
    width: 150px ;
    margin-top: 5px;
    margin-left: 12px;
    margin-bottom: 6px;
    float:left;
}

.imgbox{
    border: 1px rgb(205, 220, 176);
    margin-top: 3px;
    margin-left: 5px;
    height: 130px;
    width: 140px;
    background-size: 100% 120px ;
}

.productname{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 100;
    text-align: center;
}

button{
    border: 1px double #290907;
    background-color: #290907;
    border-radius: 10%;
    height: 40px;
    width: 95px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: 200;
    margin-top: 1px;
    margin-left: 35px;
    color: #efe9e1;
}


/*DEALS*/
.deals{
    border: 1px solid rgb(25, 3, 46) ;
    background-image: url('slider\ banner\ 1\ \(1\).webp');
    background-size: 100% 200px;
    height: 200px;
    width: 100%;
    float: left;
    z-index: 1;
}
.deal1{
    border: 1px  ;
    background-image: url('slider\ banner\ 1\ \(1\).webp');
    background-size: 100% 199px;
    height: 200px;
    width: 100%;
    float: left;
}
/*.deal2{
    border: 2px groove blueviolet ;
    background-image: url('slider\ banner\ 1\ \(2\).webp');
    background-size: 100% 200px;
    height: 200px;
    width: 100%;
    float: left;
}

/*FOOTER*/
.footer{
    border: 2px double #d0d5ce;
    background: #d0d5ce;
    height: 200px;
    width: 100%;
    float: left;
    z-index: 1;
}
